<!DOCTYPE html>
<html>
<head>
  <title>Help me find | <%=yield(:title)%> </title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
  $(document).ready(function(){
  	 $('.carousel').carousel({
  	 	  interval: 5000
  	 });
  })
 	
  </script>
</head>
<body>
	<%=render 'layouts/header'%>
	<%= yield %>
  <%=render 'layouts/footer'%>

</body>
</html>
